/CMakeLists.txt
/cmake-build-debug/
/build
.DS_Store
.vscode
test.sh
.idea/
tgbm.model
.gradle
/ntl-11.4.4/

*.model
predictions.txt

client_messages/**
client_messages/*
server_messages/**
server_messages/*
examples/*

logs*/**
fedtree-datasets/*
dataset/*
dataset/breast-cancer_scale

dataset/diabetes_scale

dataset/mnist.scale

python/FedTree/libFedTree.dylib
python/FedTree/libFedTree.so
python/FedTree/libFedTree.dll

fedtree.model